*.o
*.cnf
*.log
parameters.sh
outputs
inputs
painless-mcomsps
painless
painlessd
docs/build
docs/source/html
html
.html
.pdf
*.uri
get_sat22_inputs.sh
.vscode/
*.gdb
*.output
*.swp
*.a
*.cpp_old
*.h_old
*.ignore
*.o
hostfile.*
openMPI
*.out
.ignore*
*.proof
*.local

libs/m4ri-20200125/Makefile
libs/m4ri-20200125/config.status
libs/m4ri-20200125/libm4ri.la
libs/m4ri-20200125/libtool
libs/m4ri-20200125/m4ri/m4ri_config.h
libs/m4ri-20200125/autom4te.cache
libs/m4ri-20200125/configure~
libs/m4ri-20200125/m4ri/config.h.in~
libs/m4ri-20200125/Makefile
libs/m4ri-20200125/Makefile.in
libs/m4ri-20200125/aclocal.m4
libs/m4ri-20200125/autom4te.cache/
libs/m4ri-20200125/bench/Makefile
libs/m4ri-20200125/bench/Makefile.in
libs/m4ri-20200125/compile
libs/m4ri-20200125/config.guess
libs/m4ri-20200125/config.sub
libs/m4ri-20200125/configure
libs/m4ri-20200125/depcomp
libs/m4ri-20200125/install-sh
libs/m4ri-20200125/ltmain.sh
libs/m4ri-20200125/m4/libtool.m4
libs/m4ri-20200125/m4/ltoptions.m4
libs/m4ri-20200125/m4/ltsugar.m4
libs/m4ri-20200125/m4/ltversion.m4
libs/m4ri-20200125/m4/lt~obsolete.m4
libs/m4ri-20200125/m4ri.pc
libs/m4ri-20200125/m4ri/brilliantrussian.lo
libs/m4ri-20200125/m4ri/config.h
libs/m4ri-20200125/m4ri/config.h.in
libs/m4ri-20200125/m4ri/debug_dump.lo
libs/m4ri-20200125/m4ri/djb.lo
libs/m4ri-20200125/m4ri/echelonform.lo
libs/m4ri-20200125/m4ri/graycode.lo
libs/m4ri-20200125/m4ri/io.lo
libs/m4ri-20200125/m4ri/m4ri_config.h
libs/m4ri-20200125/m4ri/misc.lo
libs/m4ri-20200125/m4ri/mmc.lo
libs/m4ri-20200125/m4ri/mp.lo
libs/m4ri-20200125/m4ri/mzd.lo
libs/m4ri-20200125/m4ri/mzp.lo
libs/m4ri-20200125/m4ri/ple.lo
libs/m4ri-20200125/m4ri/ple_russian.lo
libs/m4ri-20200125/m4ri/solve.lo
libs/m4ri-20200125/m4ri/stamp-h1
libs/m4ri-20200125/m4ri/strassen.lo
libs/m4ri-20200125/m4ri/triangular.lo
libs/m4ri-20200125/m4ri/triangular_russian.lo
libs/m4ri-20200125/missing
libs/m4ri-20200125/test-driver
libs/m4ri-20200125/tests/Makefile
libs/m4ri-20200125/tests/Makefile.in
libs/m4ri-20200125/configure~
libs/m4ri-20200125/.libs/
libs/m4ri-20200125/bench/.deps/
libs/m4ri-20200125/m4ri/.deps/
libs/m4ri-20200125/m4ri/.dirstamp
libs/m4ri-20200125/tests/.deps/

solvers/lingeling/lglcfg.h
solvers/lingeling/lglcflags.h
solvers/kissat_mab/build/
solvers/kissat_mab/makefile
solvers/GASPIKISSAT/build/
solvers/GASPIKISSAT/makefile
solvers/yalsat/cflags.h
solvers/yalsat/config.h
solvers/yalsat/makefile
solvers/yalsat/yalsat

solvers/cadical/makefile
solvers/cadical/src/makefile
solvers/kissat/makefile
solvers/kissat/src/makefile
solvers/lingeling/ilingeling
solvers/lingeling/makefile
solvers/lingeling/lglddtrace
solvers/lingeling/lglmbt
solvers/lingeling/lgluntrace
solvers/lingeling/lingeling
solvers/lingeling/plingeling
solvers/lingeling/treengeling
solvers/lingeling/lglcfg.h
solvers/lingeling/lglcflags.h

solvers/glucose/parallel/depend.mk

solvers/mapleCOMSPS/build

solvers/kissat-inc/makefile
solvers/kissat-inc/src/makefile
solvers/kissat-inc/build

*.csv

build/
solvers/yalsat/yalsat
*.la
config.status
libtool
